.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid #646cff;
    border-radius: 8px;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
}